@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
::root {
  font-size: 16px;
  --color-accent: #f88c1a;
  --color-header: #113257;
}

body {
  font-family: "Poppins", sans-serif;
  background: #161623;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

#resume {
  font-size: 0.83rem;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #161623;
  overflow: hidden;
  z-index: 1000;
  transition: opacity 0.5s 0.4s;
  animation: preloader-finish 5s forwards;
}

@keyframes preloader-finish {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -20;
    background-color: #161623;
  }
}

.preloader.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.outer-space {
  width: 600px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rocket-container {
  position: absolute;
  bottom: 52%;
  left: 49%;
  transform: translate(-50%, 50%);
}

.rocket {
  height: 320px;
  animation: move 0.2s linear infinite alternate;
}

.preloader.preload-finish .rocket-container {
  animation: finish 0.5s 1 ease forwards;
}

@keyframes finish {
  from {
    bottom: 52%;
  }
  to {
    bottom: 140%;
  }
}

@keyframes move {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}

.title {
  color: #5fabe5;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.25rem;
  position: absolute;
  top: 83vh;
  left: 50%;
  transform: translateX(-50%);
}

#circle {
  animation: move-circle 0.2s linear infinite alternate;
}

@keyframes move-circle {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes stars {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(1000px);
  }
}

#main {
  width: 100vw;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
  position: fixed;
  width: 100%;
  max-width: 100vw;
  z-index: 200;
  background-color: #161623;
  height: 6rem;
}
.logo img {
  height: 8rem;
}
nav ul {
  display: flex;
}
nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #36b7b5;
  letter-spacing: 1px;
}
.icon {
  height: 6rem;
  align-self: center;
}
.icon img {
  height: 100%;
}
nav ul li a:hover {
  font-weight: bold;
  color: whitesmoke;
  box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
  transition: all ease 0.2s;
  border-radius: 5px;
}
.container {
  width: 100vw;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 auto;
  clip-path: ellipse(120vmax 100% at 50% 0%);
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
  padding-top: 5.5rem;
}
.main-text {
  width: auto;
  height: auto;
  padding: 15px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.main-text h1,
.main-text p {
  font-size: 2.25rem;
  color: #5fabe5;
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}
.main-text p {
  font-size: 1.63rem;
}
.main-text p span {
  font-weight: bold;
}
.type-1 {
  font-weight: normal;
  color: rgb(160 152 173);
}
.cursor {
  display: inline-block;
  width: 3px;
  background-color: #ccc;
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
.main-text img {
  width: 100%;
  height: 50vh;
  display: inherit;
  object-fit: contain;
}
.portfolio-btn {
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ebf5fd;
  background-color: #324340;
  background-color: rgb(160 152 173);
  border-radius: 20px;
  z-index: 3;
}
.portfolio-btn:hover {
  transition: all ease 0.2s;
  font-weight: bold;
  box-shadow: 4px 10px 30px rgba(80, 221, 196, 0.2);
  background-color: inherit;
}
.portfolio-btn .cv-icon1 {
  height: 80%;
  width: auto;
  margin-left: 5px;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px auto 0px auto;
  padding-top: 2rem;
  color: white;
  background-image: url("../images/bg.png");
  background-position: top;
  background-size: 400px;
}
#about h1 {
  font-size: 2.5rem;
}
.part-1 {
  width: 100%;
  background-image: url("../images/about-1.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
}

.template-1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(22, 22, 35, 0.55);
}

.part-1 h1,
.part-1 p {
  margin: 2rem 5%;
  z-index: 1;
  color: white;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}
.part-1 h1 {
  margin-top: 4rem;
}
.part-1 p {
  color: #5fabe5;
  font-size: 1.75rem;
}
.about-video {
  position: relative;
  top: -5rem;
  width: 65vw;
  height: 40vw;
  border-radius: 0.5rem;
  border: solid rgb(70, 70, 99) 5px;
  border-bottom: 0;
  border-left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
}
.video-1 {
  width: 90%;
  height: 95%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .about-video {
    width: 90vw;
    height: 67vw;
  }
}

.more-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-card {
  width: 310px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
}

.template-2 {
  position: relative;
  width: 100%;
  border-radius: 5%;
  padding: 1rem;
  background-color: #00001054;
}
.template-2 video {
  width: 100%;
  height: auto;
}
.about-card h2 {
  color: #5fabe5;
}
.about-card p {
  margin-bottom: 2rem;
  color: rgba(217, 204, 239, 1);
  font-weight: 500;
}
.btn-2 {
  padding: 0.85rem;
}
.btn-2:hover {
  background-color: rgba(22, 22, 35, 0.55);
  color: whitesmoke;
}

#skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0px auto 0px auto;
  padding-top: 6rem;
  background-color: #0b2234;
}
.skill-heading {
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.skill-heading span {
  color: rgb(160 152 173);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}
.skill-heading h2 {
  color: #5fabe5;
  font-size: 2.4rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}
.s-box-container {
  margin-top: 2rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.skill-box {
  display: flex;
  margin: 3rem 0px;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 1rem;
  width: 100%;
  align-items: center;
}
.s-box-icon {
  margin-right: 12px;
}
.s-box-icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-size: 2.3rem;
}
.s-box-text strong {
  color: #5fabe5;
  margin: 0px;
  font-size: 0.9rem;
  font-weight: 600;
}
.s-box-text p {
  color: rgba(217, 204, 239, 1);
  font-weight: 500;
}
.fa-python {
  color: #088145;
}
.fa-html5 {
  color: #e06061;
}
.fa-css3-alt {
  color: #416cdf;
}
.fa-js-square {
  color: #f98231;
}
#recent {
  padding-top: 6rem;
  height: 750px;
}
.recent-heading {
  width: 80%;
  text-align: center;
}
.recent-heading span,
.client-heading span {
  color: rgb(160 152 173);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}
.recent-heading h3,
.client-heading h3,
#contact h3 {
  color: #5fabe5;
  font-size: 2.4rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}
#client {
  width: 100%;
  border-top: 1px solid rgba(58, 58, 58, 0.03);
  border-bottom: 1px solid rgba(58, 58, 58, 0.03);
  padding-top: 6rem;
  background-image: url("../images/bg.png");
  background-position: center;
  background-size: 1000px;
  background-color: #0b2234;
}
.client-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.client-box {
  width: 310px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 20px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.client-box video {
  width: 180px;
  height: 120px;
  border-radius: 2.5%;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.client-box h1 {
  color: #5fabe5;
}
.client-box strong {
  color: #1c3548;
  margin: 0px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
}
.client-box p {
  color: rgba(217, 204, 239, 1);
  font-size: 0.9rem;
  margin: 0px;
  text-align: center;
  display: block;
  display: -webkit-box;
  max-width: 90%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.client-box .button-part {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin-top: 0.5rem;
  border-bottom: 2px black;
}
.client-box .button-part .button {
  width: 140px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(235, 245, 253);
  background-color: rgb(160, 152, 173);
  border-radius: 20px;
  box-shadow: 4px 10px 30px rgba(24, 139, 119, 0.2);
}
.client-box .button-part svg {
  height: 40px;
  width: 40px;
  margin-left: 1rem;
  size: 44px;
}
.client-box:hover,
.card-recent-2:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.35);
  transition: all ease 0.2s;
}
.client-box .button-part .button:hover {
  transition: all ease 0.2s;
  font-weight: bold;
  box-shadow: 4px 10px 30px rgba(80, 221, 196, 0.2);
  background-color: rgb(22, 22, 35);
}
svg path:hover {
  fill: #000;
}
#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
  padding-top: 6rem;
}
.form-section,
.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
#contact h1 {
  color: #5fabe5;
  margin-bottom: 1rem;
}
.content-card {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transition: 0.5s ease;
  width: 100%;
  padding: 2rem 2rem;
  border-radius: 20px;
}
.content-card .btn-2 {
  margin-right: auto;
  margin-left: auto;
}
.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-group label {
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  color: rgb(217, 204, 239);
}
.input-group:last-child {
  margin-bottom: 0;
}

.input-group input,
.the-message-area textarea {
  outline: none;
  background: none;
  border: 1px solid #2e3852;
  font-size: 0.9rem;
  padding: 0.5em;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  background-color: rgb(22, 22, 35);
  font-family: "Poppins", sans-serif;
  width: 100%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.input-group input:focus,
.the-message-area textarea:focus {
  border-color: white;
}

.the-message-area textarea {
  height: 13rem;
  vertical-align: top;
  text-align: left;
}

.social-link {
  color: rgb(217, 204, 239);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
}

.social-link:hover {
  font-weight: bold;
}

.social-link img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
}
.follow-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#email-link {
  margin-bottom: 2rem;
}
@media screen and (min-width: 525px) {
  .input-group {
    flex-direction: row;
  }
  .the-message-area {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 900px) {
  #contact {
    margin: 0 5rem;
    flex-direction: row;
  }
  #email-link {
    margin-bottom: 5rem;
  }
  .contact-section {
    align-items: flex-start;
  }
  .follow-icons {
    justify-content: left;
  }
}

nav .menu-btn,
.menu-icon {
  display: none;
}

@media (max-width: 1140px) {
  .content {
    width: 100%;
  }
  .main-text {
    margin: 10px;
  }
}
@media (max-width: 900px) {
  .menu-icon {
    display: block;
  }
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: rgb(14, 13, 13);
    border-bottom: 4px solid #1db096;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #36b7b5;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: #36b7b5;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 5px;
  }
  nav .menu-icon .nav-icon:after {
    top: -5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
  .recent-heading h3,
  .client-heading h3 {
    font-size: 2.2rem;
    text-align: center;
  }
  .recent-heading {
    text-align: center;
    padding: 0px 15px;
  }
}
@media (max-width: 465px) {
  .main-text p {
    font-size: 1.15rem;
  }
}

@media (min-width: 440px) {
  .logo img {
    height: 15rem;
  }
}

@media (min-width: 900px) {
  .icon {
    height: 8rem;
  }
}

.footer {
  padding: 0 10px 5px 10px;
  color: rgb(95, 171, 229);
  width: 100%;
  font-size: 0.65rem;
  background-color: rgb(11, 34, 52);
}

.main-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 8rem;
}
.footer-intro {
  display: flex;
  flex-direction: column;
  padding: 0.87rem;
  align-items: center;
  justify-content: flex-end;
  color: rgba(217, 204, 239, 1);
  min-width: 120px;
}
.footer-button {
  padding: 0.5rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  cursor: pointer;
}
.footer-button {
  margin-bottom: 2rem;
}
.footer-button:last-child {
  margin-bottom: 0;
}
.footer-body {
  padding-bottom: 1rem;
  padding-top: 0;
  position: relative;
  width: 34%;
  font-size: 0.75rem;
}
.footer-body a {
  margin-right: auto;
  margin-left: auto;
}
.footer-body a img {
  width: 7rem;
}
.footer-body .footer-content {
  text-align: center;
  position: absolute;
  top: 4.4rem;
  width: 100%;
  margin-bottom: 3rem;
}
.footer-body .footer-content p:first-child {
  display: none;
}
.footer-body .footer-content:last-child {
  margin-bottom: 0;
}
.footer-end {
  padding: 0.87rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.footer-end ul li a,
.footer-intro a {
  text-decoration: none;
  color: rgba(217, 204, 239, 1);
}
.footer-end ul li {
  margin-bottom: 0.3rem;
}
.footer-end ul li:last-child {
  margin-bottom: 0;
}
.footer-body {
  display: flex;
  flex-direction: column;
}
.footer-intro .footer-button:hover,
.footer-end ul li a:hover {
  transition: all ease 0.2s;
  font-weight: bold;
  box-shadow: 4px 10px 30px rgba(80, 221, 196, 0.2);
  background-color: inherit;
}
.footer-end ul li a:hover {
  color: rgb(95, 171, 229);
}
@media screen and (min-width: 800px) {
  .footer-intro,
  .footer-end ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-button,
  .footer-end ul li {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .footer-button:last-child,
  .footer-end ul li:last-child {
    margin-right: 0;
  }
  .footer-body .footer-content p:first-child {
    display: inherit;
  }
}
:root {
  --card-width: 50%;
  --card-height: 300px;
  --card-transition-duration: 500ms;
  --card-transition-easing: ease;
}

.recent-project {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image,
.app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: 20%;
}
.cardList__btn.btn--right {
  right: 20%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
    translateY(var(--card-translateY-offset))
    rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration)
    var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration)
    var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.75;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card,
.card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
  display: none;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration)
    var(--card-transition-easing);
}
.info .text {
  position: relative;
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name,
.info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before,
.info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info,
.info.next--info {
  opacity: 0;
  display: none;
}

@media only screen and (min-width: 820px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
  .card.previous--card,
  .card.next--card {
    display: inherit;
  }
  .cardList__btn.btn--left {
    left: -5%;
  }
  .cardList__btn.btn--right {
    right: -5%;
  }
}
section.recent-other {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.wrapper {
  width: 100%;
}
.carousel {
  max-width: 1200px;
  margin: auto;
  padding: 5px 30px;
  background-color: #161623;
}
.carousel .card-recent-2 {
  color: rgba(217, 204, 239, 1);
  text-align: center;
  margin: 20px 0;
  padding: 0.5rem;
  font-size: 1rem;
  overflow: hidden;
  border-radius: 15px;
  background-color: black;
  box-shadow: 2px 3px rgba(217, 204, 239, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.carousel .card-recent-2 h1 {
  color: #5fabe5;
}

.carousel .card-recent-2 embed {
  width: 70% !important;
  margin: 0.5rem auto;
}
.carousel .card-recent-2 span {
  color: #5fabe5;
  font-weight: bold;
}
.carousel .card-recent-2 a {
  text-decoration: none;
  font-weight: none;
  color: rgba(217, 204, 239, 1);
  padding: 0.3rem;
  box-shadow: 10px 10px 30px rgb(0 0 0 / 50%);
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  display: block;
  width: 73%;
  margin: 0.5rem auto;
}
.carousel .card-recent-2 a:hover {
  transition: all ease 0.2s;
  font-weight: bold;
  box-shadow: 20px 20px 30px rgba(80, 221, 196, 0.2);
  background-color: inherit;
}

.owl-dots {
  text-align: center;
}
.owl-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  outline: none;
  border-radius: 50%;
  border: 2px solid #68a5d3 !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover {
  background: #5fabe5 !important;
}

#myLinks {
  display: flex;
}
#myLinks a,
#myButton {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #abd6d6;
  letter-spacing: 1px;
}
#myButton {
  display: none;
  align-self: center;
  font-size: 1.15rem;
}
#myLinks a:hover {
  font-weight: bold;
  color: whitesmoke;
  box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
  transition: all ease 0.2s;
  border-radius: 5px;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  #myLinks {
    display: none;
  }
  #myButton {
    display: block;
  }
}

#myLinks.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 65px;
  left: 0px;
  box-shadow: 10px 10px 30px rgb(0 0 0 / 50%);
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid #5fabe5;
  backdrop-filter: blur(25px);
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.modal {
  position: fixed;
  top: 0.25rem;
  left: 2.5vw;
  transform: translate(0%, 0%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 300;
  width: 95vw;
  height: 97%;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(70px);
}

.modal.active {
  transform: translate(0%, 0%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  z-index: 3000;
  height: 15%;
  color: rgb(95, 171, 229);
  background: rgba(21, 2, 2, 0.22);
}

.modal-header .modal-title {
  font-size: 1.75rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(211 200 200 / 75%);
}

.modal-body {
  padding: 10px 15px;
  height: 85%;
  overflow: auto;
  color: rgba(217, 204, 239, 1);
  scroll-behavior: smooth;
}

.modal-body > p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 91, 0.4);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 560px) {
  .modal-header {
    height: 30%;
  }
  .modal-body {
    height: 70%;
  }
  .modal-header .modal-title {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 820px) {
  .cards__wrapper {
    width: auto;
  }
  .card {
    width: 250px;
    height: 400px;
  }
}
#contact-response-para a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(204, 194, 194);
  text-decoration: underline;
}

body::-webkit-scrollbar {
  width: 0;
}
.modal-body::-webkit-scrollbar {
  scrollbar-width: 5px !important;
}

@keyframes animate {
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: rgb(172, 55, 55);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
      0 0 100px #fff;
  }
}
